:root {
  --primary: #ffacfc;
  --secondary:  #f148fb;
  --tertiary:  #7122fa;
  --quatary:  #3f0960;
}

/* :root {
  --primary: #e92efb;
  --secondary:  #ff2079;
  --tertiary:  #440bd4;
  --quatary:  #04005e;
} */

body {
    background-color: var(--quatary);
}

h1 {
  text-align: center;
  margin: 10;
  padding: 100;
  color: var(--quatary);
  background-color: var(--secondary);
  font: 50px Impact, monospace;
  letter-spacing: 8px;
  font-style: italic;
  text-shadow: 2px 2px 5px white;
  box-shadow: 2px 2px 5px black;
}

h2 {
  text-align: center;
  margin: 10;
  padding: 100;
  color: var(--secondary);
  background-color: var(--primary);
  font: 30px Impact, monospace;
  letter-spacing: 8px;
  font-style: italic;
  cursor: pointer;
  text-shadow: 2px 2px 5px var(--quatary);
  box-shadow: 2px 2px 5px black;
}

#info h2 {
  text-align: center;
  margin: 10;
  padding: 100;
  color: var(--quatary);
  background-color: var(--primary);
  font: 30px Impact, monospace;
  letter-spacing: 8px;
  font-style: italic;
  cursor: pointer;
  text-shadow: 2px 2px 5px white;
  box-shadow: 2px 2px 5px black;
}

.auto { 
cursor: auto; 
}

.point { 
  cursor: pointer; 
}

h4 {
  text-align: center;
  margin: 10;
  padding: 100;
  color: var(--secondary);
  background-color: var(--primary);
  font: 30px Courier, monospace;
  font-style: italic;
  visibility: hidden;
}

#GameBoardCanvas {
    text-align: center;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
    visibility: hidden;
    /* box-shadow: 2px 2px 5px black; */
}

.dropbtn {
  /* background-color: rgb(252, 253, 182); */
  color: var(--primary);
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
  display: inline-block;
  top: 20px;
  left: 815px;
  bottom: 500px;
  visibility: hidden;
}

.expand {
  transition:transform 0.3s ease-out;
}

.dropdown-content a {
  color: rgb(247, 247, 247);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

#button {
  border: none;
  position: relative;
  display: inline-block;
   top: 0px;
  left: 625px;
  bottom: 510px;
  visibility: hidden;
  /* font-size: 20px; */
  /* border-radius: 8px; */
  /* width: 250px; */
}

#winners {
  position: relative;
  width:500px;
  height:100px;
  border:1px solidrgb(247, 247, 247);
}


#new-entry {
  border: none;
  position: relative;
  display: inline-block;
  top: 20px;
  left: 740px;
  bottom: 500px;
  font-size: 15px;
  border-radius: 6px;
  width: 200px;
  visibility: hidden;
}

.btn-success{
  border: none;
  position: relative;
  display: inline-block;
  top: 20px;
  left: 760px;
  bottom: 500px;
  font-size: 15px;
  border-radius: 6px;
  width: 200px;
  visibility: hidden;
}

#name{
  font: 30px Impact, monospace;
  font-style: italic;
}

#name2{
  font: 30px Impact, monospace;
  font-style: italic;
}

#leaderboard{
  background-color: var(--secondary);
  color: var(--quatary);
  position: absolute;
  font-style: italic;
  top:190px;
  right: 50px;
  width:500px;
  height:610px;
  visibility: hidden;
  box-shadow: 2px 2px 5px black;
  /* border:1px solid rgb(250, 249, 249); */
}

#info {
  background-color: var(--secondary);
  color: var(--quatary);
  font: 20px Impact, monospace;
  font-style: italic;
  position: absolute;
  top:190px;
  left: 50px;
  width:350px;
  height:600px;
  visibility: hidden;
  box-shadow: 2px 2px 5px black;
  /* border:1px solid rgb(250, 249, 249); */
}

.dropdown:hover .dropbtn {background-color: #97e399;}

#container { 
  position: relative; 
}

#select1 {
  text-align: center;
    padding: 100px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}